 {
  font-family: 'Crimson Text', sans-serif;
}

.navbar-brand {
  font-family:  'Crimson Text', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: black;
}
.Blog-post{
  margin-bottom: 30px;
}
.blog-post-title {
  font-size: 30px;
}
footer {
  padding-top: 60px;
  padding-bottom:60px;
}
